<footer class="footer {{ container }}" role="contentinfo">
      <div class="footer-wrapper">
        <div class="container">
          <div class="row">
              {% if page.footer_first %}
                 <div class="col-sm-4">   
                  {{ page.footer_first }}
                 </div>
              {% endif %}
              {% if page.footer_second %}
                 <div class="col-sm-4">   
                  {{ page.footer_second }}
                 </div>
              {% endif %}
              {% if page.footer_third  %}
                 <div class="col-sm-4">  
                   {{ page.footer_third }}
                </div>
              {% endif %}
         </div>
    </div>
     <div class="foot-wrap">
       <div class="container">
          <div class="row">
           {% if page.footer_left %}
               <div class="col-sm-6">   
                 {{ page.footer_left }}
               </div>
             {% endif %}
           {% if page.footer_right %}
               <div class="col-sm-6">  
                   {{ page.footer_right }}
               </div>
           {% endif %}
          </div>
      </div>
       {% if page.footer %}
         <div class="bottom-footer">
		   {{ page.footer }}
        </div>
      {% endif %}
    </div>
</footer>
